Pivoting Process

Pivoting: Restructuring data from a long format to a wide format, typically by specifying one column as the index, another as the columns, and another as the values.

Application : Useful for summarizing data and creating informative visualizations, such as pivot tables and heatmaps.

Unpivoting: Transforming data from a wide format to a long format, usually by converting multiple columns into rows, often representing observations.

Application :  Helpful for preparing data for analysis, facilitating easier plotting of multiple variables, and enhancing compatibility with certain statistical functions

Wide format is structured with each variable as a separate column, while long format is structured with each variable-value pair in a single row, allowing for easier manipulation and analysis of data, especially in statistical modeling and visualization tasks

ID	Variable_1	Variable_2	Variable_3
1	Value_11	Value_12	Value_13
2	Value_21	Value_22	Value_23
3	Value_31	Value_32	Value_33

Example of wide format

ID	Variable	Value
1	Variable_1	Value_11
1	Variable_2	Value_12
1	Variable_3	Value_13
2	Variable_1	Value_21
2	Variable_2	Value_22
2	Variable_3	Value_23

Example of wide format

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
import numpy as np
import pandas as pd

# Create an unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

# Create a sample DataFrame manually
dates = pd.date_range('2023-01-01', periods=3)
data = np.random.randn(3, 4)
columns = ['A', 'B', 'C', 'D']
sample_df = pd.DataFrame(data, index=dates, columns=columns)

# Apply the unpivot function
dframe = unpivot(sample_df)
print(dframe)

         date variable     value
0  2023-01-01        A  2.839169
1  2023-01-02        A  1.068365
2  2023-01-03        A -0.120185
3  2023-01-01        B  0.330703
4  2023-01-02        B -1.219506
5  2023-01-03        B  0.356066
6  2023-01-01        C -0.888135
7  2023-01-02        C  0.888810
8  2023-01-03        C -2.648032
9  2023-01-01        D  1.179648
10 2023-01-02        D -1.330136
11 2023-01-03        D  0.393257

In [6]:
dframe

         date variable     value
0  2023-01-01        A  2.839169
1  2023-01-02        A  1.068365
2  2023-01-03        A -0.120185
3  2023-01-01        B  0.330703
4  2023-01-02        B -1.219506
5  2023-01-03        B  0.356066
6  2023-01-01        C -0.888135
7  2023-01-02        C  0.888810
8  2023-01-03        C -2.648032
9  2023-01-01        D  1.179648
10 2023-01-02        D -1.330136
11 2023-01-03        D  0.393257

In [8]:
# Pivot the DataFrame back to its original shape
dframe_piv = dframe.pivot(index='date', columns='variable', values='value')
print("\nPivoted DataFrame:\n", dframe_piv)

Pivoted DataFrame:
 variable           A         B         C         D
date
2023-01-01  2.839169  0.330703 -0.888135  1.179648
2023-01-02  1.068365 -1.219506  0.888810 -1.330136
2023-01-03 -0.120185  0.356066 -2.648032  0.393257

In [9]:
dframe_piv

variable           A         B         C         D
date
2023-01-01  2.839169  0.330703 -0.888135  1.179648
2023-01-02  1.068365 -1.219506  0.888810 -1.330136
2023-01-03 -0.120185  0.356066 -2.648032  0.393257