In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    2.073218
   b   -0.748411
   c   -0.174026
2  a    0.598278
   b   -2.343552
   c   -2.307378
dtype: float64

In [5]:
ser[1]

a    2.073218
b   -0.748411
c   -0.174026
dtype: float64

In [6]:
ser[2]

a    0.598278
b   -2.343552
c   -2.307378
dtype: float64

In [7]:
#When you use ser[:, 'a'], you are effectively selecting all rows (first level) where the second level of the index is 'a'.
ser[:,'a']

1    2.073218
2    0.598278
dtype: float64

Unstacking: The unstack() method transforms the Series from a MultiIndex structure to a DataFrame.
By default, it unstacks the innermost level ('a', 'b', 'c'), which becomes the columns of the new DataFrame.
The outer level (1, 2) remains as the index of the DataFrame.

In [8]:
dframe = ser.unstack()

In [9]:
dframe

          a         b         c
1  2.073218 -0.748411 -0.174026
2  0.598278 -2.343552 -2.307378

In [12]:
#generates an array of numbers from 0 to 15 and reshapes it into a 4x4 matrix.
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],              #indexing with levels a and b and sub levels 1 and 2 with levels 
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [11]:
dframe2.index.names = ['Index_1','Index_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [14]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [16]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
Index_1 Index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27