In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
dframe = pd.read_csv('example.csv')

In [4]:
dframe

   q   r   s   t    apple
0  2   3   4   5     pear
1  a   s   d   f   rabbit
2  5   2   5   7      dog

In [5]:
dframe = pd.read_csv('example.csv',header = None)

In [6]:
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [8]:
dframe = pd.read_table('example.csv',sep=',',header=None)
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [10]:
pd.read_csv('example.csv',header=None,nrows=2)

   0   1   2   3       4
0  q   r   s   t   apple
1  2   3   4   5    pear

In [12]:
dframe.to_csv('mytextdata_output.csv')