<a href="https://colab.research.google.com/github/DJS-INFOMATRIX/Computational-Finance/blob/main/CFPYBASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

***What is Python?*** <br> <br>
Python is a powerful yet accessible language that can open up a world of possibilities for anyone interested in programming. Whether you're building a website, analyzing data, or creating a game, Python has the tools to help you get started quickly and effectively.

***Why Python?*** <br> <br>
**Simple and Readable:** Python's syntax (the way it is written) is straightforward and similar to plain English. This makes it easy to read and write code.

**Versatile:** Python can be used for a wide range of applications, including web development, data analysis, machine learning, artificial intelligence, automation, and more.

**Large Community:** Python has a huge community of developers. This means there are plenty of resources, tutorials, and libraries (pre-written code that you can use) available to help you learn and solve problems.

**Cross-Platform:** Python works on many different types of computers and operating systems, such as Windows, macOS, and Linux.

***How is it different?*** <br> <br>
**Indentation:** Unlike many other programming languages, Python uses indentation (spaces or tabs) to define blocks of code. This makes the code cleaner and easier to read.

**Dynamic Typing:** You don't need to specify the type of a variable (like integer, string, etc.) when you create it. Python figures it out for you.

**Extensive Libraries**: Python has a vast standard library and many third-party libraries, which can save you a lot of time. For example, libraries like NumPy and pandas are great for data analysis, while Flask and Django are popular for web development.

***Building-blocks for handling data in Python.***<br> <br>**int:** Whole numbers (42)<br>
**float:** Decimal numbers (3.14)<br>
**str:** Text ("hello")<br>
**bool:** True/False values (True)<br>
**list:** Ordered, changeable collection ([1, 2, 3])<br>
**tuple:** Ordered, unchangeable collection ((1, 2, 3))<br>
**dict:** Key-value pairs ({"key": "value"})<br>
**set:** Unordered collection of unique items ({1, 2, 3})

In [ ]:
#This is a single line comment.

In [ ]:
"""
This is a multi-line comment.
It can span multiple lines.
"""

#End of introduction.

# Variable assignment in python  :



 **Rules for variable names**

names can not start with a number


names can not contain spaces, use _ intead

names can not contain any of these symbols:
'",<>/?|\!@#%^&*~-+
it's considered best practice (PEP8) that names are lowercase with underscores

avoid using Python built-in keywords like list and str

avoid using the single characters l , O  and I as they can be confused with 1 and 0

***Dynamic Typing***

Python uses dynamic typing, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are statically typed.

In [ ]:
my_dogs = 2

In [ ]:
my_dogs

2

In [ ]:
my_dogs = ['Sammy', 'Frankie']

In [ ]:
my_dogs

['Sammy', 'Frankie']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of type of the variable

***Assigning Variables***

Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
a = 5 #assigning integer 5 to the variable 'a'

In [ ]:
a + a  # Now we can use 'a' instead of 10

10

In [ ]:
#Reassigning variables :
a = a  + 10
a

15

In [ ]:
#shortcut for this:
a+=10
a

25

In [ ]:
#same pattern follows for other operations:
a -= 2  #  (25-2)
a*= 4  #  (23*4)
a/=2 # (92/2)
a

46.0

In [ ]:
# we can check the type of variable using the type() function

In [ ]:
type(a)

float

In [ ]:
a = (1,2)

In [ ]:
type(a)

tuple

##End of Variables.

#Starting with loops,<br>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
people = ['John', 'Paul', 'Sara', 'Susan']

In [ ]:
# Simple for loop.
for person in people:
  print(f'Current Person: {person}')   #string literals

Current Person: John
Current Person: Paul
Current Person: Sara
Current Person: Susan

In [ ]:
# Break.
for person in people:
  if person == 'Sara':
    break
  print(f'Current Person: {person}')

Current Person: John
Current Person: Paul

In [ ]:
# Continue.
for person in people:
  if person == 'Sara':
    continue
  print(f'Current Person: {person}')

Current Person: John
Current Person: Paul
Current Person: Susan

In [ ]:
# Range.
for i in range(len(people)):    #len(people) = 4
  print(people[i])

John
Paul
Sara
Susan

In [ ]:
# Range again.
for i in range(0, 11):
  print(f'Number: {i}')

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9
Number: 10

In [ ]:
# While loops are something that executes a set of statements as long as a condition is true.

count = 0
while count < 10:
  print(f'Count: {count}')
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Count: 6
Count: 7
Count: 8
Count: 9

#End of loops with this.

# COLLECTIONS (Lists, Tuples, Sets, Dictionary )

A collection is a single variable used to store multiple values

A List is a collection which is ordered and mutable (changeable). Allows duplicate members. Representation : '[]'

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']

In [ ]:
#Indexing and Slicing
my_list = ['one','two','three',4,5]
# Grab element at index 0
print(my_list[0])

# Grab index 1 and everything past it
print(my_list[1:])

# Grab everything UP TO index 3 (but not including)
print(my_list[:3])

#Grab everything from index 0 UP TO  index 2 (but not including)
print(my_list[:2])
1:5:2
#Grab everything from index 0 to the end  with a step of 2
print(my_list[::2])

#Grab everything in the list but with a step of 2 (basically every alternate )
print(my_list[::2])

one
['two', 'three', 4, 5]
['one', 'two', 'three']
['one', 'two']
['one', 4]
['one', 'three', 5]

In [ ]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [ ]:
#The original list does not change, you need to re-assign it
my_list

['one', 'two', 'three', 4, 5]

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']
print(my_list)

['one', 'two', 'three', 4, 5, 'add new item permanently']

List Methods :

In [ ]:
fruits = ['Apples', 'Oranges', 'Grapes', 'Pears']
# Get length
print(len(fruits))

4

In [ ]:
# Append to list it is always end of the list
fruits.append('Mangos')
print(fruits)

['Apples', 'Oranges', 'Grapes', 'Pears', 'Mangos']

In [ ]:
# Remove from list
fruits.remove('Grapes')
print(fruits)

['Apples', 'Oranges', 'Pears', 'Mangos']

In [ ]:
# Insert into position
fruits.insert(2, 'Strawberries')
print(fruits)

['Apples', 'Oranges', 'Strawberries', 'Pears', 'Mangos']

In [ ]:
# Change value
fruits[0] = 'Blueberries'   #As discussed, lists are mutable
print(fruits)

['Blueberries', 'Oranges', 'Strawberries', 'Pears', 'Mangos']

In [ ]:
# Remove with pop
fruits.pop(2)
print(fruits)

# If brackets are left empty then the last element in the list automatically gets popped
fruits.pop()
print(fruits)

['Apples', 'Oranges', 'Pears', 'Mangos']
['Apples', 'Oranges', 'Pears']

In [ ]:
# Reverse list
fruits.reverse()
print(fruits)

['Pears', 'Oranges', 'Apples']

In [ ]:
# Sort list
numlist = [1,2,6321,5,611,56,4,3]
numlist.sort()
print(numlist)

[1, 2, 3, 4, 5, 56, 611, 6321]

In [ ]:
# Reverse sort
numlist.sort(reverse = True)
print(numlist)

[6321, 611, 56, 5, 4, 3, 2, 1]

In [ ]:
#To get more information about the different methods use the following syntax :
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(help(fruits))

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

***LIST COMPREHENSIONS***

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets.
Syntax :

newlist = [expression **for**  item **in** iterable **if** condition == True]

The return value is a new list, leaving the old list unchanged.

In [ ]:
# Grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [ ]:
#We want to grab every element in a list which has an  'a'
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

for x in fruits:
  if "a" in x:
    newlist.append(x)




print(newlist)


#Easier way using list comprehensions
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x*2 for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

A tuple is ordered and  immutable (unchangeable), allows duplicate members.. Representation : '()'

A set is unordered,unindexed and immutable, no duplicates are allowed. Representation : '{}'

In [ ]:
# Create tuple
fruits = ('Apples', 'Oranges', 'Grapes','Apples')

#Can also mix object types
t = ('one',2,3,4,5,'six')

# Use indexing and slicing just like we did in lists
print(t[:])

# REMEMBER:  Single value needs trailing comma!!
fruits2 = ('Apples',)

# Get value
print(fruits[1])

# Can't change value (immutability)
#fruits[0] = 'Pears'

# Delete tuple
del fruits2

('one', 2, 3, 4, 5, 'six')
Oranges

In [ ]:
# Get length
print(len(fruits))

4

In [ ]:
#Returns count of a particular element in the tuple

print(fruits.count('Strawberries'))
print(fruits.count('Oranges'))
print(fruits.count('Apples'))

0
1
2

In [ ]:
#Returns index of a particular element in the tuple

print(fruits.index('Oranges'))
print(fruits.index('Apples'))

1
0

In [ ]:
#Sets can be useful when you want to force the user to enter something unique
# Create set
fruits_set = {'Apples', 'Oranges', 'Mango'}

# Check if in set
print('Apples' in fruits_set)

# Add to set
fruits_set.add('Grape')

# Remove from set
fruits_set.remove('Grape')

# Add duplicate
fruits_set.add('Apples')

print(fruits_set)
# Clear set
fruits_set.clear()
print(fruits_set)

True
{'Apples', 'Mango', 'Oranges'}
set()

**DICTIONARIES**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

*As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
my_dict = {
    'key1': 'value1',
    'key2':'value2'
    }

print(my_dict['key1'])

value1

In [ ]:
# Call values by their key
my_dict['key2']

In [ ]:
my_dict = {
    'key1':123,
    'key2':[12,23,33],
    'key3':['item0','item1','item2']
    }

In [ ]:
print(my_dict['key1'])
print(my_dict['key2'])
print(my_dict['key2'][2])

123
[12, 23, 33]
33

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it

In [ ]:
# Create a new dictionary
d = {}
# Create new keys through assignment
d['animal'] = 'Dog'   #d['key'] = 'value'
d['answer'] = 42
# Show
print(d)

{'animal': 'Dog', 'answer': 42}

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}
# Method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
print(d.items())

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

#COLLECTIONS ENDS HERE

# STRINGS

Strings in python are surrounded by either single or double quotation marks.

In [ ]:
name = 'Brad'
age = 37

In [ ]:
# Concatenate
print('Hello, my name is ' + name + ' and I am ' + str(age))

Hello, my name is Brad and I am 37

**String Formatting**

In [ ]:
# Arguments by position
print('My name is {name} and I am {age}'.format(name=name, age=age))

My name is Brad and I am 37

In [ ]:
# F-Strings (3.6+)
print(f'Hello, my name is {name} and I am {age}')

Hello, my name is Brad and I am 37

**String Methods**

In [ ]:
s = 'helloworld'

In [ ]:
# Capitalize string
print(s.capitalize())

Helloworld

In [ ]:
# Make all uppercase
print(s.upper())

HELLOWORLD

In [ ]:
# Make all lower
print(s.lower())

helloworld

In [ ]:
# Swap case
print(s.swapcase())

HELLOWORLD

In [ ]:
# Get length
print(len(s))

10

In [ ]:
# Replace
print(s.replace('world', 'everyone'))  # (Previous one , new one)

helloeveryone

In [ ]:
# Count
sub = 'h'
print(s.count(sub))

1

In [ ]:
# Starts with
print(s.startswith('hello'))

True

In [ ]:
# Ends with
print(s.endswith('d'))

True

In [ ]:
# Split into a list
print(s.split())

['helloworld']

In [ ]:
# Find position
print(s.find('r'))

7

In [ ]:
# Is all alphanumeric
print(s.isalnum())

True

In [ ]:
# Is all alphabetic
print(s.isalpha())

True

In [ ]:
# Is all numeric
print(s.isnumeric())

False

# STRINGS ENDS HERE

# FUNCTIONS

A function is a block of code which only runs when it is called. In Python, we do not use curly brackets, we use indentation with tabs or spaces

In [ ]:
# Create function
def sayHello(name='Sam'):
    print(f'Hello {name}')

# # Call function
sayHello()

In [ ]:
# Return values
def getSum(num1, num2):
    total = num1 + num2
    return total

print(getSum(1,2))

3

In [ ]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.

getSum = lambda num1, num2: num1 + num2

print(getSum(10, 3))

13

# END OF FUNCTIONS

# CONDITIONALS

 If/ Else conditions are used to decide to do something based on something being true or false

In [ ]:
x = 21
y = 20

**Comparison Operators**

(==, !=, >, <, >=, <=) - Used to compare values

**==** checks if two values are equal.

 checks if two values are not equal.

**>** checks if the left value is greater than the right value.

**<** checks if the left value is less than the right value.

**>=** checks if the left value is greater than or equal to the right value.

**<= ** checks if the left value is less than or equal to the right value.

In [ ]:
# Simple if
if x > y:
  print(f'{x} is greater than {y}')

21 is greater than 20

In [ ]:
# If/else
if x > y:
  print(f'{x} is greater than {y}')
else:
  print(f'{y} is greater than {x}')

21 is greater than 20

In [ ]:
# elif
if x > y:
  print(f'{x} is greater than {y}')
elif x == y:
  print(f'{x} is equal to {y}')
else:
  print(f'{y} is greater than {x}')

20 is equal to 20

In [ ]:
# Nested if
if x > 2:
  if x <= 10:
    print(f'{x} is greater than 2 and less than or equal to 10')
  else:
    print(f'{x} is greater than 10')
else:
  print(f'{x} is less than 2')

21 is greater than 10

**Logical operators** (and, or, not)
- Used to combine conditional statements

![and-or-not-andornot.webp]()

In [ ]:
# and
if x > 2 and x <= 10:
    print(f'{x} is greater than 2 and less than or equal to 10')
else:
    print(f'{x} is less than 2')

21 is less than 2

In [ ]:
# or
if x > 2 or x <= 10:
    print(f'{x} is greater than 2 or less than or equal to 10')

21 is greater than 2 or less than or equal to 10

In [ ]:
# not
if not(x == y):
  print(f'{x} is not equal to {y}')

21 is not equal to 20

**Membership Operator**s (not, not in)

- Membership operators are used to test if a sequence is presented in an object

In [ ]:
numbers = [1,2,3,4,5]

In [ ]:
#  in
if x in numbers:
  print(x in numbers)
else:
  print(x not in numbers)

True

In [ ]:
# not in
if x not in numbers:
  print(x not in numbers)

True

**Identity Operators** (is, is not)

- Compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [ ]:
# is
if x is y:
  print(x is y)

In [ ]:
# is not
if x is not y:
  print(x is not y)

True

# CONDITIONALS END HERE

# LAMBDA FUNCTIONS,MAP, FILTER AND REDUCE

**LAMBDA FUNCTIONS**

One of Pythons most useful tools is the lambda expression. lambda expressions allow us to create "anonymous" functions.


lambda's body is a single expression, not a block of statements.

In [ ]:
def square(num):
    result = num**2
    return result

In [ ]:
square = lambda num: num **2

In [ ]:
# This lambda function takes two arguments, x and y, and returns their sum.
sum_lambda = lambda x, y: x + y

# You can then use the lambda function like a regular function.
print(sum_lambda(5, 3))

**MAP FUNCTION**

The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list.

Syntax: map(function, iterable)
The map () function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple, etc.).

The functions can also be more complex

def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [ ]:
my_nums = [1,2,3,4,5]
map(lambda x : x**2,my_nums)

In [ ]:
#To get the results, cast the map to a list
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
#The functions can be more complex
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]
mynames = ['John','Cindy','Sarah','Kelly','Mike']
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

**FILTER FUNCTION**

The filter function returns an iterator yielding those items of iterable for which function(item) is true.

**Meaning you need to filter by a function that returns either True or False**

Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [ ]:
#def check_even(num):
#    return num % 2 == 0
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
list(filter(lambda x: x%2 == 0, nums))

[0, 2, 4, 6, 8, 10]

QUIZ TIME!!Extract all ages above 18!!

In [ ]:
ages = [13, 90, 17, 59, 21, 60, 5]

[90, 59, 21, 60]

In [ ]:
#SOLUTION :
adults = list(filter(lambda age: age > 18, ages))

print(adults)

EXTRACT ALL NAMES THAT START WITH 'H'

In [ ]:
names = ["Arun", "Sonu", "Harsh", "Harry", "Anu", "Hassi"]

In [ ]:
#SOLUTION
name_start_with_H = list(filter(lambda x: x[0] == 'H', names))

WHAT WILL THE OUTPUT BE HERE ?

In [ ]:
print(list(map(lambda x : x*2 ,range(0,10))))
print(list(filter(lambda x : x*2 ,range(0,10))))

**REDUCE FUNCTION :**

The function reduce(function, sequence) continually applies the function to the sequence. **It then returns a single value.**

In [ ]:

# Map
numbers = [1, 2, 3, 4, 5]

def square(x):
    return x ** 2

squared_numbers = map(square, numbers)

# Reduce
from functools import reduce

product = reduce(lambda x, y: x * y, numbers)
print(list(squared_numbers))
print(product)

[1, 4, 9, 16, 25]
120

In [ ]:
#WHAT WILL THE OUTPUT BE HERE?
from functools import reduce

lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

![deld.png]()

# LAMBDA FUNCTIONS,MAP, FILTER AND REDUCE ENDS HERE

# FILES

Python has functions for creating, reading, updating, and deleting files.

In [ ]:
# Open a file
myFile = open('myfile.txt', 'w')

In [ ]:
# Get some info
print('Name: ', myFile.name)
print('Is Closed : ', myFile.closed)
print('Opening Mode: ', myFile.mode)

Name:  myfile.txt
Is Closed :  False
Opening Mode:  w

In [ ]:
# Write to file
myFile.write('I love Python')
myFile.write(' and JavaScript')
myFile.close()

In [ ]:
# Append to file
myFile = open('myfile.txt', 'a')
myFile.write(' I also like PHP')
myFile.close()

In [ ]:
# Read from file
myFile = open('myfile.txt', 'r+')
text = myFile.read(100)
print(text)

I love Python and JavaScript I also like PHP

# END OF FILES

# VALIDATORS

Example of a custom module to be imported

In [ ]:
import re

# Function to validate email
def validate_email(email):
    if len(email) > 7:
        return bool(re.match(r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$", email))

    return False


# Example emails
emails = [
    "test@example.com",
    "user@sub.domain.co",
    "invalid-email.com",
    "another.test@domain",
    "valid@domain123.com"
]

# Validate and print results
for email in emails:
    print(f"{email} is valid: {validate_email(email)}")

test@example.com is valid: True
user@sub.domain.co is valid: True
invalid-email.com is valid: False
another.test@domain is valid: False
valid@domain123.com is valid: True

# END OF VALIDATORS

#Starting with modules,<br>
A module is basically a file containing a set of functions to include in your application.
There are core python modules, modules you can install using the pip package manager (including Django) as well as custom modules.

In [ ]:
# Core modules.
import datetime
from datetime import date
import time
from time import time

In [ ]:
import datetime

# Get the current date using datetime.date.today().
today_date = datetime.date.today()
print("Today's Date (using datetime.date.today()):", today_date)

# If you've already imported date from datetime, you can use it directly.
from datetime import date
today_date = date.today()
print("Today's Date (using date.today()):", today_date)

Today's Date (using datetime.date.today()): 2024-06-11
Today's Date (using date.today()): 2024-06-11

In [ ]:
pip install camelcase

Collecting camelcase
  Downloading camelcase-0.2.tar.gz (1.3 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py) ... done
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1773 sha256=d1becdf30f31f43273a2d3f628f1db8b298ed460948be7ec7626434793672b83
  Stored in directory: /root/.cache/pip/wheels/89/69/2b/bb16b6766a74942bfbd1e0db55e3c0f3d80c3463ad6b4dc4d4
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [ ]:
# Pip module.
# You create an instance of CamelCase from a pip-installed module to potentially transform a string into camel case.
from camelcase import CamelCase

In [ ]:
c = CamelCase()
print(c.hump('hello there world'))

Hello There World

In [ ]:
# Custom module.
%%writefile math_utils.py

def add(x, y):
    """Returns the sum of two numbers"""
    return x + y

def subtract(x, y):
    """Returns the difference between two numbers"""
    return x - y

def multiply(x, y):
    """Returns the product of two numbers"""
    return x * y

def divide(x, y):
    """Returns the division of two numbers"""
    if y == 0:
        return "Error! Division by zero is not allowed."
    return x / y

Writing math_utils.py

In [ ]:
# Import the custom module
import math_utils

# Perform mathematical operations using functions from the custom module
result_add = math_utils.add(5, 3)
result_subtract = math_utils.subtract(10, 4)
result_multiply = math_utils.multiply(6, 2)
result_divide = math_utils.divide(8, 2)

# Print the results
print("Addition Result:", result_add)
print("Subtraction Result:", result_subtract)
print("Multiplication Result:", result_multiply)
print("Division Result:", result_divide)

Addition Result: 8
Subtraction Result: 6
Multiplication Result: 12
Division Result: 4.0

#End of modules with this.

#Starting with JSON,
JSON is commonly used with data API's.
Here how we can parse JSON into a Python dictionary.

In [ ]:
import json

In [ ]:
# Sample JSON.
userJSON = '{"first_name": "John", "last_name": "Doe", "age": 30}'

In [ ]:
# Parse to dict.
user = json.loads(userJSON)

In [ ]:
# Print.
print(user['first_name'])

John

In [ ]:
# Test Sample.
import json

# Define multiple cars and organize them into a list.
cars = [
    {
        'make': 'Ford',
        'model': 'Mustang',
        'year': 1970,
        'color': 'Red',
    },
    {
        'make': 'Toyota',
        'model': 'Camry',
        'year': 2018,
        'color': 'Blue',
    },
    {
        'make': 'Tesla',
        'model': 'Model S',
        'year': 2022,
        'color': 'Black',
    }
]

In [ ]:
# Convert the list of cars to a JSON string.
carsJSON = json.dumps(cars)

In [ ]:
# Print the "make" parameter for each car.
for car in cars:
    print("Make:", car['make'])

Make: Ford
Make: Toyota
Make: Tesla

#End of JSON with this.

#Starting with Classes,
 A class is like a blueprint for creating objects.
 An object has properties and methods (functions) associated with it, almost everything in Python is an object.

In [ ]:
# Create class
class User:

  # Constructor (__init__ method): Initializes the object with name, email, age, and an encapsulated variable _private.
  def __init__(self, name, email, age):
    self.name = name
    self.email = email
    self.age = age


    # Encapsulation is the concept of making the variables non-accessible or accessible up to some extent from the child classes
    self._private = 1000 # Encapsulated variables are declared with '_' in the constructor.

  def greeting(self):
    return f'My name is {self.name} and I am {self.age}'

  def has_birthday(self):
    self.age += 1

  # Function for encapsulated variable
  def print_encap(self):
    print(self._private)

In [ ]:
# Create an instance of User
brad = User('Brad Traversy', 'brad@gmail.com', 37)

In [ ]:
# Call the greeting method and print its return value
print(brad.greeting())

# Call the has_birthday method to increment age
brad.has_birthday()

# Call the greeting method again to see the updated age
print(brad.greeting())

# Call the print_encap method to print the encapsulated variable
brad.print_encap()

# Modify the encapsulated variable directly (not recommended in practice, but possible)
brad._private = 800

# Call the print_encap method again to see the updated value
brad.print_encap()

My name is Brad Traversy and I am 37
My name is Brad Traversy and I am 38
1000
800

#End of Classes with this.

**Function and Classes**

Application: Web Scraping

**Strings**

Application: Data Formatting and Cleaning

Strings are used extensively for data manipulation. For example, cleaning up and formatting data for reports.

**Files**

Application: Logging

Reading from and writing to files is essential for logging application events or errors.

**Validators**

Application: Form Validation in Web Applications

Validators are used to ensure that user input meets certain criteria before processing it. For example, validating an email address during user registration

**Conditionals**

Application: Authentication System

Conditionals are used to control the flow of a program based on certain conditions. For example, checking user credentials.

**Integrating All Concepts**

Application: A Simple To-Do List Application

Combining these concepts, you can create a simple console-based to-do list application.

Functions to modularize the code for task operations.

Strings for handling user input and task manipulation

Files to save and load tasks.

Validators to check the validity of tasks.

Conditionals to navigate through the menu options